# Flutter
build/
.dart_tool/
.packages
pubspec.lock

# Node
node_modules/
.env
logs/

# iOS/Android
ios/Flutter/Flutter.framework
android/.gradle/
*.apk
*.ipa

# VSCode
.vscode/
# Local Netlify folder
.netlify

# Client build
client/build/
client/build/web/
client/.dart_tool/

# Server deps/env
server/node_modules/
server/.env
server/firebase-sa.json
server/firebase-sa.json
cleaned-repo/
estrategia-clean/
cleaned-repo/
cleaned-repo/
